<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/mian.css')}}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a href="/https://github.com/developer-Wonjun">개발자 Git 주소 ||</a>
                <a href="/">홈 ||</a>
                <a href="/contact">개발자 문의 : iwonjun97@naver.com</a>
            </nav>
            <hr>
            
        </header>

        <main role="main">

        {% block content %}{% endblock %}
        </main>
        
        <script src="" async defer></script>
    </body>
</html>